.all-rate {
  display: flex;
  justify-content: center;
}

.star-rating {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.all{
  text-align: left;
  background-color: #BF29C2;
  padding: 1%;
  border-radius: 5px;
  width: 30%;
}

.tasks{
  display: flex;
  align-items: center;
}